<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <connectionStrings>
    <add name="DBConnectionStringMaster" connectionString="server=192.168.0.132;port=3306;uid=sevenstar;pwd=ss@2016#07;DataBase=SevenStarAutoSell;charset=utf8;max pool size=1000;"/>
    <add name="DBConnectionStringSlave" connectionString="server=192.168.0.132;port=3306;uid=sevenstar;pwd=ss@2016#07;DataBase=SevenStarAutoSell;charset=utf8;max pool size=1000;"/>
  </connectionStrings>
  <appSettings>

    <add key="RaceCode" value="3H"/>
    <add key="UrlCC" value="http://www.ctb988.com"/>
    <add key="UrlWL" value="http://www.m8128.com"/>
    <add key="UrlXWL" value="http://www.ts1368.com"/>
    <add key="Url668" value="http://192.168.0.195:7071"/>
    <add key="Safecode668" value="111111"/>

    <add key="MQPublishServer" value="tcp://127.0.0.1:10001"/>
    <add key="MQRouterSendServer" value="tcp://127.0.0.1:10002"/>
    <add key="MQRouterReceiveServer" value="tcp://127.0.0.1:10003"/>
    <add key="MQResponseServer" value="tcp://127.0.0.1:10004"/>

    <!--  <add key="MQPublishServer" value="tcp://192.168.6.133:10001" />
    <add key="MQRouterSendServer" value="tcp://192.168.6.133:10002" />
    <add key="MQRouterReceiveServer" value="tcp://192.168.6.133:10003" />
    <add key="MQResponseServer" value="tcp://192.168.6.133:10004" />-->
  </appSettings>

</configuration>
